body{
    color: #000;
}
a{
    color: #ccc !important;
    font-weight: bold;
}
.logoawc{
    width: 66px;
    margin-top: -10px;
    margin-left: 70px;
}
.App{
    background-color: #464b6254;
}
.nav-active {
    color: #fff !important;
    font-weight: bold;
}
.stypage {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ecf0f5;
    padding-bottom: 200px;
}
.menu4 {
    padding: 10px 0;
    background-color: #0073b7 ;
    position: relative;
    height: 45px;
    box-shadow: -1px -1px 6px 3px #8888884a
}
.menu4 .div-menu {
    width: 300px;
    float: right;
    position: relative;
}
.menu4 .div-menu a {
    margin: 10px;
}
.boxlist {
    margin: 30px 0 30px 0;
    box-shadow: -1px -1px 6px 3px #8888884a

}
.boxlist .headtext {
    background-color: #0073b7 ;
    padding: 10px 10px;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}
.k-grid-norecords td{
    text-align: center !important;
}
.k-dialog-wrapper .k-dialog {
    width: 50%;
}
.box1 .table-bordered>:not(caption)>* ,.box2 .table-bordered>:not(caption)>*{
    border-width: 0px 0;
}
.boxlist .body-content {
    background-color: #ffffff;
    padding: 20px 10px;
}
.header-text {
    font-size: 20px;
    font-weight: bold;
}
.buttomsubbit {
    display: flex;
    position: relative;
    align-items: center;
    float: right;
}
.buttomsubbit button{
    margin: 1px;
    padding: 5px 10px;
    background-color: var(--bs-btn-hover-bg);
}
.buttomsubbit .savedraft{
    background-color: #ccc;
    border: 1px solid #696969;
}
.buttomsubbit .savedraft:hover{
    background-color: #ccc;
    border: 1px solid #696969;
}

.k-button-icon {
    height: 18px !important;
}

.k-i-refresh,.k-i-search, .k-i-calculator ,.k-i-plus {
    margin-top: -15px;
    margin-right: 15px;
}
.k-step-text {
    font-size: 12px;
    font-weight: bold;
}
td{
    text-align-last: left !important;
}
td p{
    margin-bottom: 0;
    font-size: 13px;
    padding: 6px 0px;
    font-weight: 600;
}
th p{
    margin-bottom: 0;
    font-size: 13px;
    padding: 6px 0px;
    font-weight: bold;
}
.table-bordered > tbody > tr > td {
    border: 0px solid black;
}
.table{
    margin-bottom: 0rem !important;
}
.table-bordered {
    border: 0px solid #dee2e6 !important;
}

.table>:not(caption)>*>* {
    padding: 3px !important;
}
/* .form-control {
    height: calc(1.2em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.3rem !important;
    font-size: 0.8rem !important;
} */

/* .custom-select {
    height: calc(1.2em + 0.75rem + 2px)  !important;
    padding: -7.625rem 1.75rem .375rem .75rem;
} */

.k-picker-solid {
    height: 37px;
}
.k-datepicker {
    height: 37px;
    width: unset !important;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.tableboxshodow{
    box-shadow: -1px -1px 6px 3px #8888884a;
}

.tableborder{
    border: 1px solid #ccc !important;
    background-color: #fff;
}
.background1{
    background-color: #fff;
}
.background2{
    background-color: #f8f8f8;
}
.subheadtext{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.padding1 {
    padding: 6px 20px ;
}
.color1 {
    background-color: #0073b7 ;    
    color: #fff;
    font-weight: bold;
}
.table-bordered > thead > tr > th {
    border: 0px solid black  !important;
}
th {
    text-align-last: unset !important;
}
.padding2{
    padding: 0px;
    line-height: 1.1;
}
.k-textarea>textarea {
    border: 1px solid #ccc !important;
}
.classspan{
    font-size: 13px;
    color: red;
}
/* .table-bordered>:not(caption)>* {
    border-width: 0px 0 !important;
}
.table>thead {
    border: 1px solid #ccc;
} */

.k-toolbar .k-button {
    padding: 0 10px !important;
    line-height: unset !important;
}
.k-button-icon {
    width:  0 !important;
    height: calc(1.3em + 0.75rem + 2px);
}
.k-input-inner span{
    font-size: 13px;
    color: #000;
}
.k-cell-inner span {
    color: #000;
}

.totaltable{
    display: flex;
    align-items: center;
    position: relative;
    float: right;
}
