.nav-tabs-custom>.nav-tabs {
    border-bottom-color: #ddd;
}
.nav-tabs-custom>.nav-tabs>li.active>a {
    border-left-color: #ddd;
    border-right-color: #ddd;
}
.nav-tabs-custom>.nav-tabs>li:first-of-type.active>a {
    border-left-color: #ddd;
}
.nav-tabs-custom>.nav-tabs.nav-tabs-second>li.active {
    border-top-color: #fed03f;
}

.tab-content{
    border-right: 1px solid #ddd;
    border-right-width: 1px;
    border-right-color: solid;
    border-left: 1px solid #ddd;
    border-left-width: 1px;
    border-left-color: solid;
}
.tab-content .nav-tabs-custom>.nav>li>a{
    padding:5px 5px;
}


.header-line h3 {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    background-color: #ddd;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}
.header-line {
    position: relative;
}
.header-line:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 18px;
    border-top: 5px solid #e8ecef;
}


.table-scroll{
    overflow-x: auto;
    width: 100%;
}


input[type=checkbox]{
    margin-bottom: 5px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

/*copy AdminLTE styles and applied to Kendo*/
.nav-tabs-custom>.nav-tabs {
    > .k-tabstrip-items {
        > li {
            //border-top: 3px solid transparent;
            margin-bottom: -2px;
            margin-right: 5px;
            //border-left: 0;
            //border-right: 0;
            //border-bottom: 0;
            border-color: transparent;
            border-top-width: 3px;
            border-top-style: solid;
            &.disabled>span {
                color: #777
            }
            > span {
                font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                //font-family: unset;
                color: #444;
                border-radius: 0;
                background: transparent;
                margin: 0;
                position: relative;
                display: block;
                padding: 10px 15px;
                &.text-muted {
                    color: #999;
                }
                &:hover {
                    color: #999;
                    background: transparent;
                    margin: 0;
                }
            }
            &.active,&.k-state-active {
                border-top-color: #3c8dbc;
                border-left-color: #ddd;
                border-right-color: #ddd;
            }
            &:first-of-type {
                margin-left: 0;
                //&.active, &.k-state-active {
                //    border-left-color: #ddd;
                //    border-right-color: #ddd;
                //    span {
                //    }
                //}
            }
        }
    }
}
