.npd {
  .form-group {
    //margin-bottom: 0;
    .k-form-field {
      margin-top: 0;
    }
  }
}

.npd-product-table {
  td {
    text-align: left;
    text-align-last: left;
  }
  tbody {
    tr {
      td:not(:first-child) {
        width: 205px;
      }
    }
  }
}
